---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Import partials from `sass_dir` (defaults to `_sass`)
//@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300italic,300,400italic,600,600italic,900);
//@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lekton:400,700,400italic);
//@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
//@import url(http://fonts.googleapis.com/css?family=Exo:100,300,400,600,700,900,100italic,300italic,400italic,600italic,700italic,900italic);
//@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@font-face {
  font-family: EratoLig;
  src: url("EratoLigWeb.eot");
}
@font-face {
  font-family: EratoLig;
  src: url("EratoLigWeb.woff") format("woff");
}
@import "base", "layout";
