---
layout: page
permalink: /blog/
title: blog
author: Fabrizio
menu: yes
menu_order: 2
---

<ul class="post-list">
  <!-- {% for post in site.posts %}
    {% for cat in post.categories %}
      {% unless cat == 'projects' %}
    -->
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
      <!-- {% endunless %}
    {% endfor %}
  {% endfor %}
-->
</ul>

<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
