<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}


        <div class="video" data-thumb="https://i.vimeocdn.com/video/514975946.webp?mw=1400&amp;mh=967&amp;q=70" style="background-image: url(https://i.vimeocdn.com/video/514975946.webp?mw=1400&amp;mh=967&amp;q=70);"><div class="telecine cloaked"><video preload="none" src="https://07-lvl3-pdl.vimeocdn.com/01/4/5/125023947/356702370.mp4?expires=1443641263&amp;token=073fc6f49146e148fdc04"></video></div></div>
        <div class="telecine cloaked"><video preload="none" src="https://07-lvl3-pdl.vimeocdn.com/01/4/5/125023947/356702370.mp4?expires=1443641263&amp;token=073fc6f49146e148fdc04"></video></div>
        <video preload="none" src="https://07-lvl3-pdl.vimeocdn.com/01/4/5/125023947/356702370.mp4?expires=1443641263&amp;token=073fc6f49146e148fdc04"></video>
      </div>
      </div>
      </div>

      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
