<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="with-full-bg">

      <!--  <source src="//a0.muscache.com/airbnb/static/Paris-P1-0.webm" type="video/webm"> -->
  <!--  <video loop="loop" preload="auto" video id="sampleMovie" src="/images/mtrtrz_video.mp4" controls>
  </video> -->

    <div class="page-content">
  <a href="/projects/2014/11/14/rpco">
         <div class="wrapper">

        <!--  <font-weight: "font-weight-bold"> -->

          {{ content }}
        </div>
      </a>

    </div>

  </body>

</html>
