---
layout: default
---
<div class="post">

  <header class="post-header">
  <h1 class="post-title">{{ page.title }}</h1>
  <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

  </header>

  <article class="post-content">


<!-- video -->

    <div class="vimeo-youtube">
        <iframe width="500" height="281" src="//player.vimeo.com/video/68787849" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>

<!-- fine video -->

    {{ content }}
  </article>

  </div>
  <!--
  <div class="bottom-color-bands">
          <div class="color-row color-red"></div>
          <div class="color-row color-darkblue"></div>
          <div class="color-row color-yellow"></div>
        </div>
  -->
